---
---
<footer class="bg-gray-900 text-gray-400 text-center p-4 mt-10">
    <p>&copy; 2025 Kavi Castelo. All Rights Reserved.</p>
    <!--<div class="mt-2">-->
    <!--    <a href="#about" class="mx-2 hover:text-white">About</a>-->
    <!--    <a href="#projects" class="mx-2 hover:text-white">Projects</a>-->
    <!--    <a href="#blog" class="mx-2 hover:text-white">Blog</a>-->
    <!--    <a href="#contact" class="mx-2 hover:text-white">Contact</a>-->
    <!--</div>-->
</footer>